/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== FUNDO VERMELHO + AMARELO ===== */
body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    background: linear-gradient(135deg, #ff4d4d, #ffd60a);
    color: #3a0a0a;
    padding: 40px;
    text-align: center; /* centraliza tudo */
}

/* ===== TÍTULO PRINCIPAL ===== */
h1 {
    font-size: 48px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

p.subtitulo {
    font-size: 22px;
    margin-bottom: 50px;
}

/* ===== CARD ===== */
.card {
    max-width: 600px;


.app-card a:hover {
  color: var(--accent-2);
  transform: translateX(4px);
}
