/* ===== RESET BÁSICO ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== FUNDO DA PÁGINA ===== */
body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    background: linear-gradient(135deg, #b9fbc0, #ffe66d);
    color: #023047;
    padding: 40px;
}

/* ===== TÍTULO PRINCIPAL ===== */
h1 {
    font-size: 52px;
    text-align: center;
    margin-bottom: 10px;
    color: #006d77;
    letter-spacing: 1px;
}

p.subtitulo {
    text-align: center;
    margin-bottom: 50px;
    font-size: 22px;

}

.app-card a:hover {
  color: var(--accent-2);
  transform: translateX(4px);
}
