/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ===== FUNDO VERMELHO + AMARELO ===== */
body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    background: linear-gradient(135deg, #ffd60a, #ff4d4d);
    color: #3a0a0a;
    padding: 40px;
    text-align: center; /* centraliza tudo */
}

/* ===== TÍTULO PRINCIPAL ===== */
h1 {
    font-size: 48px;
    margin-bottom: 10px;
    letter-spacing: 1px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

h2 {
    font-size: 38px;
    margin-bottom: 10px;
    letter-spacing: 1px;
 color: white;
 text-shadow: 2px 2px 4px #000000;
}

h3 {
font-size: 30px;
color: white;
  text-shadow: 2px 2px 4px #000000;

}

p{
    font-size: 22px;
    margin-bottom: 50px;
    color:#d62828;
}

/* ===== CARD ===== */
.card {
    margin: 0 auto;
    text-align: center;  
}

.card img {
    width: 180px;   /* ajuste aqui */
    height: auto;
    display: block;
    margin: 0 auto 20px auto; /* centraliza */
}



.card a:hover {
  color: var(--accent-2);
  transform: translateX(4px);
}

.botao {
    display: inline-block;
    margin-top: 25px;
    padding: 14px 28px;
    background: #d62828;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/* efeito ao passar o mouse */
.botao:hover {
    background: #9d0208;
    transform: translateY(-3px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.2);
}
